import 'package:{{packageName}}/mvp/mvp.dart';

abstract class I{{name}}View {
  // Todo {{name}} methods
}

abstract class I{{name}}Presenter extends Presenter<I{{name}}View> {
  // Todo {{name}} methods

}