import 'package:flutter/material.dart';
import 'package:{{packageName}}/mvp/mvp.dart';
import 'package:{{packageName}}/interface/{{name_snake}}.dart';

class {{name}} extends XStateful<I{{name}}Presenter> {
  const {{name}}(I{{name}}Presenter presenter, {Key? key}) 
      : super(presenter, key: key);

  @override
  _{{name}} createState() => _{{name}}();
}

class _{{name}} extends XState<I{{name}}View, {{name}}> 
    implements I{{name}}View {
  @override
  I{{name}}View bind() => this;

  @override
  Widget build(BuildContext context) {
    return Container();
  }
}
